body{
  background-color: rgb(200, 200, 200);
  font-family: "Noto Sans JP";
  text-align: left;
  padding: 0;
  margin: 0;  
  color: rgb(64, 64, 64);
}




h1{
  margin-left: 3%;
  font-size: 64px;
}
p{
  font-size: 12px;
  margin-left: 56px;

  text-align: left;
}
#eibun{
  margin-top: 32px;
}
@media screen and (max-width: 1080px) {
#eibun{
  display: none;
}
}
a{
  color: rgb(64, 64, 64);
}
img{
  width: 88px;
  height: 88px;

  position: fixed;
  right: 4%;
  bottom: 38%;
}
.start{
  position: fixed;
  display: flex;
  justify-content: center;
  top: 70%;

  cursor: pointer;
  font-size: 40px;
  font-weight: 500;
}
@media screen and (max-width: 1080px) {
.start{
  top: 50%;
}
}
#answer{
  position: fixed;
  left: 47%;
  bottom: 136px;

  font-size: 32px;
  font-weight: 500;
}
@media screen and (max-width: 1080px) {
#answer{
  left: 44%;
  bottom: 38%;
}
}

.hakken{
  display: flex;
  position: fixed;
  bottom: 40px;
  right: 32px;
  cursor: pointer;

  user-select: none;
}
.shiro{
  width: 48px;
  height: 160px;
  background-color: rgb(248, 248, 248);
  
  outline: 3px solid rgb(200, 200, 200);
  outline-offset: -3px;
}
.kokken{
  display: flex;
  position: fixed;
  bottom: 120px;
  right: 104px;
  cursor: pointer;
  height: 120px;

  user-select: none;
}
.kuro{
  width: 48px;
  height: 120px;
  background-color: rgb(64, 64, 64);

  outline: 3px solid rgb(200, 200, 200);
  outline-offset: -3px;
}
.pushed_w{
  background-color: rgb(224, 224, 224);
}
.pushed_b{
  background-color: rgb(40, 40, 40);
}
.space{
  width: 48px;
  height: 160px;
  background-color: rgba(200, 200, 200, 0);
}



.color{
  position: fixed;
  bottom: 48px;
}
@media screen and (max-width: 960px) {
.color{
  display: none;
}
}
#text1{
  left: 0px;
}
#color1{
  background-color: rgb(200, 200, 200);
  width: 80px;
  height: 40px;
  outline: 2px solid rgb(64, 64, 64);
  outline-offset: -2px;

  left: 88px;
}
#text2{
  left: 160px;
}
#color2{
  background-color: rgb(64, 64, 64);
  width: 80px;
  height: 40px;

  left: 248px;
}
#text3{
  left: 320px;
}
#color3{
  background-color: rgb(248, 248, 248);
  width: 80px;
  height: 40px;

  left: 408px;
}

#text4{
  position: fixed;
  bottom: 40px;
  left: 472px;
  font-weight: 600;
}
@media screen and (max-width: 1080px) {
#text4{
  display: none;
}
}


#box{
  background-color: rgb(64, 64, 64);
  width: 240px;
  height: 480px;

  position: fixed;
  top: 0px;
  right: 32%;
}
@media screen and (max-width: 1080px) {
#box{
  display: none;
}
}
#box2{
  background-color: rgb(64, 64, 64);
  width: 720px;
  height: 1px;

  margin-top: 32px;
}
#box3{
  background-color: rgb(64, 64, 64);
  width: 40px;
  height: 480px;

  position: fixed;
  top: 0px;
  right: 28%;
}
@media screen and (max-width: 1080px) {
#box3{
  display: none;
}
}